In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("user_nodes.csv")
df1.head()

   id_  area_id_  node_id_    act_date  deact_date  has_loan  is_act
0    1         3         4  02-01-2020  03-01-2020         1       0
1    2         3         5  03-01-2020  17-01-2020         0       1
2    3         5         4  27-01-2020  18-02-2020         0       0
3    4         5         4  07-01-2020  19-01-2020         1       1
4    5         3         3  15-01-2020  23-01-2020         0       1

In [3]:
df1.isnull().sum()

id_           0
area_id_      0
node_id_      0
act_date      0
deact_date    0
has_loan      0
is_act        0
dtype: int64

In [4]:
df1.duplicated().sum()

143

In [5]:
df1 = df1.drop_duplicates()

In [6]:
df1 = df1.drop(columns=['has_loan', 'is_act'])

df1 = df1.rename(columns={'id_': 'consumer_id',
                            'area_id_': 'region_id',
                            'node_id_': 'node_id',
                            'act_date': 'start_date',
                            'deact_date': 'end_date'})

df1.to_csv('user_nodes_cleaned.csv', index=False)

In [7]:
df2 = pd.read_csv("user_transactions.csv")
df2.head()

   id_      t_date   t_type  t_amt has_credit_card account_type
0  312  20-01-2020  deposit    485             Yes      Savings
1  376  03-01-2020  deposit    706              No      Current
2  188  13-01-2020  deposit    601              No      Savings
3  138  11-01-2020  deposit    520              No       Salary
4  373  18-01-2020  deposit    596              No       Salary

In [8]:
df2.isna().sum()

id_                0
t_date             0
t_type             0
t_amt              0
has_credit_card    0
account_type       0
dtype: int64

In [9]:
df2.duplicated().sum()

79

In [10]:
df2 = df2.drop_duplicates()

In [11]:
df2 = df2.drop(columns=['has_credit_card', 'account_type'])

df2 = df2.rename(columns={'id_': 'consumer_id',
                            't_date': 'transaction_date',
                            't_type': 'transaction_type',
                            't_amt': 'transaction_amount'})

df2.to_csv('user_transaction_cleaned.csv', index=False)